  <h1> This is a list of all shows! </h1> 

<% @shows.reverse.each do |show| %> 
<h2> <a href="/shows/<%= show.id %>"><%= show.title %></a></h2> 
<img src="<%=show.img_url %>">
<h4><%=show.year%></h4>
<p><%=show.composer%></p>
<% end %> 

  